.square {
  width: 30vw;
  height: 15vh;
  background-color: teal;
  padding: 1em;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.rectangle {
  width: 100%;
  height: 30rem;
  background-color: teal;
  padding: 1em;
  margin-top: 30px;
}

.flexboxtwo {
  display: flex;
  flex-wrap: wrapß;
}

.line {
  width: 100%;
  height: 2rem;
  background-color: lightgreen;
  margin-top: 20px;
}
